body{
  font-family: "微软雅黑";
  background: #fff;
  font-size: 14px;
}
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body,div,
h1,h2,p,
ol,ul,li {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,li{list-style: none;}
a,a:hover{text-decoration: none;}
a{color: #f46652;}
a:hover,
a:focus {
  color: #f46652;
}
.pull-left{float: left;}
.pull-right{float: right;}
.text-center{text-align: center;}
.font-12{font-size: 12px;}
.font-14{font-size: 14px;}
.gray-l{color: #c4cbd3;}
.gray{color: #808080;}
.clearfix{
  clear: both;
}
.lh-20{line-height: 20px;}
.lh-25{line-height: 25px;}
.lh-30{line-height: 30px;}
.blank-10 {
  width: 100%;
  height: 10px;
  clear: both;
}
.blank-20 {
  width: 100%;
  height: 20px;
  clear: both;
}
.blank-50 {
  width: 100%;
  height: 50px;
  clear: both;
}
.header{
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}
.page{
  width: 1004px;
  margin: auto;
}
.login-bg{
  float: left;
  width: 590px;
  height: 436px;
  background: url(../images/login-bg.jpg) left top no-repeat;
}
.login-box-wrap{
  float: right;
  width: 340px;
}
.login-box{
  padding: 20px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}
@media screen and (max-width: 1004px){
  .page {
  width: auto;
  margin: 0 auto;
  }
  .login-bg{
    display:none;
  }
  .login-box-wrap{
    clear: both;
    float: none;
    margin: auto;
  }
}
.title{
  border-bottom: 1px solid #9aa6b4;
}
.title span{
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  border-bottom: 2px solid #000;
  margin-bottom: -1px;
}
.title i{
  float: right;
  text-align: right;
  line-height: 30px;
  color: #b70005;
  font-size: 12px;
  font-style:normal;
}
.form-control {
  width: 100%;
  padding: 8px 10px 8px 10px;
  line-height: 20px;
  border:1px solid #e6e6e6;
  margin-bottom: 10px;
}
.login-box .code {
  padding-left: 50px;
  background: url(../images/login-code.jpg) 5% center no-repeat;
}
.login-box .user {
  padding-left: 50px;
  background: url(../images/login-user.jpg) 5% center no-repeat;
}
.login-box .password {
  padding-left: 50px;
  background: url(../images/login-password.jpg) 5% center no-repeat;
}
.btn {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #f46652;
  border: 1px solid transparent;
}